[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-bootstrap4 = "*"
django-extensions = "*"
djangorestframework = "*"
drf-yasg = "*"
django-filter = "*"

[dev-packages]
werkzeug = "*"

[requires]
python_version = "3.8"
