{% extends "base.html" %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"
{% endblock %}

{% block title %}
          圖片分享
{% endblock %}

{% block content %}
    <div class="d-flex">
        <nav class="p-2 nav flex-column" style="width: 10%">
            <a class="nav-link active" href="/">首頁</a>
            <a class="nav-link" href="/">發燒照片</a>
            <a class="nav-link" href="/">訂閱照片</a>
{#            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
        </nav>

        <main>
            <form action="" method="post" class="d-flex flex-wrap">
                {% csrf_token %}
                {% for img in random_photo %}
                    <div class="p-2 flex-shrink-1 bd-highlight text-center">
                        <a href="/post/{{ img.pk}}"><img src="/{{ img.photo_file }}"></a>
                        <div>{{ img.title }}</div>
                    </div>
                {% endfor %}
            </form>
        </main>
    </div>
{% endblock %}