{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"
{% endblock %}

{% block title %}
          登入
{% endblock %}

{% block content %}
    <main>
        <div class="login_css">
            <div>
                <p>Photober</p>
            </div>

            <form action="" method="post">
                {% csrf_token %}
                <table>
                    {{ login_form }}
                </table>
                <input type="submit" value="登入">
                <p>還沒有帳號嗎? <a href="/register/">註冊</a></p>
            </form>
        </div>
    </main>
{% endblock %}
