{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}"
{% endblock %}

{% block title %}
          圖片分享
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row pt-4">

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="/{{ main_photo.photo_file }}">
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-12">
                                <span class="badge badge-default">{{ main_photo.title }}</span>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-md-6">
                                <span class="badge badge-default">Label</span>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav nav-pills nav-right" style="justify-content: flex-end">
                                    <li class="nav-item">
                                        <a class="nav-link btn btn-primary"
                                           href="/photo_likes/?next={{ request.path }}">喜歡:<span
                                                class="badge badge-light">{{ main_photo.photo_likes }}</span></a>
                                    </li>
                                    <li class="nav-item" style="margin-left: 0.5rem">
                                        <a class="nav-link btn btn-primary"
                                           href="/photo_hates/?next={{ request.path }}">>討厭: <span
                                                class="badge badge-secondary">{{ main_photo.photo_hates }}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header">
                                Card title
                            </h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Card content
                                </p>
                            </div>
                            <div class="card-footer">
                                Card footer
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <span class="badge badge-default">其他圖片</span>
                {% for photo_file in other_photo %}
                    <div class="row">
                        <a href="/post/{{ photo_file.pk }}">
                            <div class="col-md-4">
                                <img src="/{{ photo_file.photo_file }}" class="next_img_self_padding">
                            </div>
                            <div class="col-md-8">
                                <span class="badge badge-default">{{ photo_file.title }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>



{% endblock %}